/******** GLOBAL *******/

body {
    background-color: rgb(21, 24, 27);
    color: rgb(28, 193, 97);
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 1.5rem;
}

nav {
    position: relative;
}

/******** MEMBER PAGE *******/

/** HEADER **/

.menu-toggle {
    display: none;
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1vw;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: rgb(21, 24, 27);
    font-weight: bold;
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

div.header {
    background-color: rgb(28, 193, 97);
    height: 20vh;
    max-height: 70px;
    display: flex;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
}

div.header > div {
    line-height: 2; 
    padding-left: 1%; 
    color: rgb(21, 24, 27);
    font-size: 2.25rem;
    font-weight: bold;
}

div.header div + div {
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;

}

div.header a {
    line-height: 3;
    margin-left: 1rem;
    font-size: 1.25rem;
}

/** BODY **/

/* FIRST PART */
div.Top {
    margin-left: 20%;
    margin-top: 3%;
    display: flex;
}
div.Top p {
    font-size: 1.25rem;
}

div.Top div{
    margin-top: 1.5vw;
    margin-left: 5vw;
    margin-right: 20vw;
}

.hollow {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    display: flex;
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
}

/* SECOND PART */
div.Bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    gap: 5vw;
}


div.ba h2 {
    padding-bottom: 0.5vw;
}
div.ba {
    display: flex;
    align-items: end;
    flex-direction: column;
}
div.blo h2 {
    padding-bottom: 0.5vw;
}

div.blo {
    display: flex;
    align-items: start;
    flex-direction: column;
}

div.Top5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

div.Top5 > div {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    padding-bottom: 3%;
    justify-content: end;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.05rem;
    width: 17vh;
    height: 20vh;
    background-color: rgb(28, 193, 97);
    color: rgb(21, 24, 27);
    box-shadow: 4px 4px 3px rgb(0, 0, 0);
}

div.numeradas div {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 68%;
    width: 28%;
    height: 32%;
    background-color: rgb(30, 116, 66);
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    border-radius: 15px;
}

div.numeradas2 div {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 68%;
    width: 28%;
    height: 32%;
    background-color: rgb(30, 116, 66);
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    border-radius: 15px;
}







div.Top5 > div:hover {
    transform: translateY(20px);
    transition: transform 0.3s ease;
}


/** FOTER **/
div.footer {
    display: flex;
    background-color: rgb(28, 193, 97);
    height: auto;
}

div.links {
    padding-left: 2vh;
    gap: 1vh;
    padding-top: 1vh;
}

div.footer img{
    align-items: center;
    height: 4vh;
    width: 4vh;
}

div.button {
    justify-content: flex-end;
    flex-grow: 0.99;
    display: flex;
    align-items: center;
}

button {
    height: 4.5vh;
    width: 15vh;
    font-size: 1.2rem;
    font-weight: bold;
    color:  rgb(21, 24, 27);
    background-color: rgb(30, 116, 66);
    border-radius: 10px;
    border: 1px solid rgb(30, 116, 66);
    box-shadow: 4px 4px 6px rgb(74, 73, 73);
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px;
    transition: transform 0.3s ease;
}

/**** RESPONSIVIDADE ****/
@media screen and (max-width: 1432px) {
    div.Bottom {
        flex-direction: column;
    }

    div.ba {
        align-items: center;
    }

    div.ba h2 {
        padding-bottom: 2vw;
    }

    div.blo {
        align-items: center;
    }

    div.blo h2 {
        padding-bottom: 2vw;
    }
}


@media screen and (max-width: 1100px) {
    /** HEADER **/
    div.header > div{
        line-height: 2.5;
        font-size: 1.75rem;
    }


    div.header a {
        font-size: 1rem;
    }

    /** MAIN **/

    /* FIRST PART */
    div.Top {
        flex-direction: column;
        margin-left: 5vw;
    }

    div.Top > div {
        align-items: center;
    }

    div.Top h2{
        padding-bottom: 2vw;
        font-size: 2rem;
        font-weight: bold;
    }

    div.Top div {   
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 0;
        margin-right: 2rem;
    }
    .hollow {
        width: 90vw;
        height: 90vw;
        margin-left: 0;
    }
    
    /* SECOND PART */
    div.Bottom {
        flex-direction: column;
        margin-top: 10vh;
        gap: 25vw;
    }

    div.ba {
        align-items: center;
    }

    div.ba h2 {
        padding-bottom: 2vw;
        font-size: 2rem;
        font-weight: bold;
    }

    div.hobbies div{
        height: 25vh;
        width: 20vh; 
    }

    div.blo {
        align-items: center;
    }

    div.blo h2 {
        padding-bottom: 2vw;
        font-size: 2rem;
        font-weight: bold;
    }

    div.Top5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.Top5 p {
        font-size: 1.5rem;
    }

    div.Top5 div {
        height: 25vh;
        width: 20vh; 
        font-size: 0.8rem;
        box-sizing: border-box;
    }

    div.hobbies {
        display: flex;
        width: 10vh;
        height: 8vh;
    }
    div.numeradas div {
        
    }

    div.numeradas2 div {

    }
    
}
@media screen and (max-width: 937px) {
    div.footer {
        flex-direction: column-reverse;
    }
    div.links {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    
    div.button {
        padding-top: 1.5vw;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    div.Top5 {
        flex-direction: row;
        justify-content: center;
    }

    .hamburger {
        display: block; 
    }

    .menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        width: 6vh;
        background-color: rgb(28, 193, 97);
    }

    .menu li {
        display: flex;
        text-align: center;
        padding: 1rem 1;
    }

    .menu-toggle:checked + .hamburger + .menu {
        display: flex; 
        margin-right: 100px;
    }
}

@media screen and (max-width: 361px) {
    div.header > div{
        line-height: 3.5;
        font-size: 1.25rem;
    }
}